@model Shared.TestApiResultModel

@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>

<div>
    <h4>TestApiResultModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestScheme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestScheme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemoteIp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemoteIp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestIsWhitelisted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestIsWhitelisted)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
